body {
	padding: 0;
	margin: 0;
	background-color: black;
}

html {
	font-family: mainFont;
}



.navbar {
	width: 100%;
	height: 65px;
	margin: 0;
	padding: 0;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
}

.hamburger {
	width: 63px;
	height: 63px;
	background-color: transparent;
	border: solid;
	border-color: white;
	border-width: 2px;
	float: right;
	display: none;
}




.navbar-items {
	color: white;
	float: right;
	height: 65px;
	line-height: 65px;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	padding-right: 200px;
	font-size: 25px;
}

.navbar-items li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	text-align: center;
	width: 125px;
	height: 65px;
	transition:
				background-color 0.5s linear,
				color 0.5s linear;
}

.navbar-items li:hover {
	background-color: white;
	color: black;
}
#sec2 {
	height: auto;

}
.section {
	width: 100%;
	height: 600px;
	background-color: gray;
}

.shop-inner {
	display: block;
	width: 850px;
	overflow: hidden;
	margin: 0 auto;

}



.section-title {
	padding-top: 10px;
	font-size: 50px;
	
	width: 100%;
	text-align: center;
	}


.section-title-main {
	padding-top: 300px;
	font-size: 50px;
	text-align: center;
	

}

.section-inner {
	padding-left: 200px;
	padding-right: 200px;
}



.button {
	transition: border-color 0.5s linear,
				background-color 0.5s linear,
				color 0.5s linear;
	width: 150px;
	height: 50px;
	background-color: transparent;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	color: black;

}

.button:hover {
	border-color: black;
	background-color: black;
	color: white;
}



.navbar-spacer {
	height: 65px;
	color: transparent;
}

.slide-menu {
	width: 100%;
	height: 0;
	background-color: white;
}

.shop-container {
	width: 400px;
	height: auto;
}
.spacer-col {
	width: 50px;
	float: left;
	height: 800px;
}

#s1 {
	float: left;
	
}

#s2 {
	float: left;

}

.shop-small {
	display: none;
}



.shop-item {
	width: 400px;
	height: 600px;
	margin-top: 25px;
}

.item-picture {
	width: 300px;
	height: 300px;
	background-color: blue;
	margin-left: auto;
	margin-right: auto;
}

.item-desc {
	width: 80%;
	height: auto;
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}




/*Phone*/
@media only screen and (max-device-width : 480px) {

/* Styles */

.shop-inner {
	display: none;
}

.shop-small {
	display: block;
}
.navbar-items {
	display: none;
}

.navbar-title {
	padding: 0;
}


#sec2 {
	height: auto;
}
.section {
	background-color: white;
	height: 400px;
	width: 100%;
}

.section-inner {
	padding: 0;
}
.section-title {
	padding-top: 10px;
	font-size: 30px;
	
	width: 100%;
	text-align: center;
}


.section-title-main {
	padding-top: 200px;
	font-size: 30px;
	text-align: center;
	

}


.hamburger {
	display: inline;
}


.shop-container {
	width: auto;
	height: auto;
}


.shop-item {
	width: 100%;
	height: 400px;
	margin-top: 65px;

}

.item-picture {
	width: 200px;
	height: 200px;
	background-color: blue;
	margin-left: auto;
	margin-right: auto;
}

.item-desc {
	width: 100%;
	height: auto;
	font-size: 20px;
	text-align: center;
}

.button {
	transition: border-color 0.5s linear,
				background-color 0.5s linear,
				color 0.5s linear;
	width: 120px;
	height: 30px;
	background-color: transparent;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;

}

.button:hover {
	border-color: black;
	background-color: black;
	color: white;
}

}



/*Tablet */
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {

/* Styles */

.shop-inner {
	display: block;
}

.shop-small {
	display: none;
}

.navbar-items {
	display: none;
}

.navbar-title {
	padding: 0;
}


#sec2{
	height: auto;

}
.section {
	height: 500px;
	width: 100%;
}

.section-inner {
	padding-left: 10px;
	padding-right: 10px;
}
.section-title {
	padding-top: 10px;
	font-size: 40px;
	
	
	width: 100%;
	text-align: center;
}


.section-title-main {

	padding-top: 250px;
	font-size: 40px;
	text-align: center;
	

}


.hamburger {
	display: inline;
}

.shop-container {
	width: 300px;
	height: auto;
}
.spacer-col {
	width: 50px;
	float: left;
	height: 800px;
}

.shop-item {
	width: 300px;
	height: 600px;
	margin-top: 25px;
}

.shop-inner {
	display: block;
	width: 650px;
	overflow: hidden;
	margin: 0 auto;

}


.item-picture {
	width: 300px;
	height: 300px;
	background-color: blue;
	margin-left: auto;
	margin-right: auto;
}

.item-desc {
	width: 80%;
	height: auto;
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	transition: border-color 0.5s linear,
				background-color 0.5s linear,
				color 0.5s linear;
	width: 150px;
	height: 40px;
	background-color: transparent;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	font-size: 20px;

}

.button:hover {
	border-color: black;
	background-color: black;
	color: white;
}



}

@font-face {
	font-family: mainFont;
	src: url('BankGothicLight.ttf');
}