/*
colors:

cream: rgb(250, 245, 234);
dark blue: rgb(24, 53, 80);
light blue: rgb(53, 95, 106);
orange: rgb(252, 116, 44);
*/



body {
	padding: 0;
	margin: 0;
	background-color: rgb(250, 245, 234);
}

html {
	font-family: mainFont;
}

ul a {
	text-decoration: none;
	color: white;
}

#desk-cart {
	display: block;
}

.cart {

	width: 30px;
	height: 30px;
	float: right;
	margin-top: 47px;
	margin-right: 20px;


}

.cart-icon {
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	background-image: url("assets/cart2.png");

}

.spacer {
	width: 100%;
	height: 100px;
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	font-size: 28px;
	font-weight: bold;
	color: rgb(250, 245, 234);
	background-color: rgb(53, 95, 106);
}
.main-image {
	width: 100%;
	height: 400px;

	}




.img-top {
	width: 100%;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-image: url("assets/baseball2.png");


}

.logo {
	float: left;
	background-size: 230px 100px;
	background-image: url("assets/hwb1.png");
	width: 230px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
}

.navbar {
	width: 100%;
	height: 125px;
	margin: 0;
	padding: 0;
	background-color: rgb(24, 53, 80);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;



}

.notify {
	width: 25px;
	height: 25px;
	border-radius: 20px;
	border: solid;
	border-color: transparent;
	background-color: rgb(252, 116, 44);
	color: rgb(24, 53, 80);
	position: absolute;
	top: 30px;
	right: 35px;
	text-align: center;
	line-height: 25px;
	vertical-align: middle;
	font-size: 25px;
	display: block;
}


.ham-contain {
	display: none;
}

.navbar-icons {
	width: auto;
	height: 30px;
	float: left;
	display: inline-block;
	margin-top: 47px;
	margin-left: 0;

}

#facebook {
	background-image: url("assets/facebook.png");
}

#twitter {
	background-image: url("assets/twitter.png");
}
#instagram {
	background-image: url("assets/instagram.png");
}



.nav-icon {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	background-size: 30px 30px;

}
.navbar-items {
	width: auto;
	height: 125px;
	list-style: none;
	color: rgb(250, 245, 234);
	margin-top: 0;
	margin-right: 0;
	margin-left: 40px;
	margin-right: 40px;
	line-height: 125px;
	vertical-align: middle;
	float: left;
	padding: 0;
	font-size: 22pfx;
}

.navbar-items li {
	width: auto;
	display: inline-block;
	height: 125px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;


	transition:

				color 0.3s linear;
}

.navbar-items li:hover {

	color: rgb(252, 116, 44);
}





.shop-inner {
	display: block;
	width: 1100px;
	overflow: hidden;
	margin: 0 auto;

}





.section-title {
	padding-top: 10px;
	font-size: 40px;
	color: rgb(24, 53, 80);
	width: 300px;
	text-align: center;
	float: left;
	}

.title-line {
	height: 2px;
	width: 350px;
	background-color: rgb(24, 53, 80);
	float: left;
	margin-top: 35px;
}

.title-row {
	padding-top: 20px;
	width: 1000px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;


}
.section-titleB {
	padding-top: 10px;
	font-size: 40px;
	color: rgb(24, 53, 80);
	width: 550px;
	text-align: center;
	float: left;
	}

.title-lineB {
	height: 2px;
	width: 250px;
	background-color: rgb(24, 53, 80);
	float: left;
	margin-top: 35px;
}

.title-rowB {
	padding-top: 20px;
	width: 1050px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;


}


.section-title-main {
	padding-top: 300px;
	font-size: 50px;
	text-align: center;


}

.section-inner {
	padding-left: 200px;
	padding-right: 200px;
}

#customize {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.customize-area {
	display: none;
	height: 200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.acc-info {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: rgb(24, 53, 80);
	font-size: 20px;
}





.button {
	transition:
				background-color 0.5s linear,
				color 0.5s linear;
	width: 150px;
	height: 50px;
	border-width: 1px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	pointer-events: auto;
	cursor: pointer;
	border: solid;
	border-color: transparent;
	border-width: 2px;
	border-radius: 15px;
	background-color: rgb(53, 95, 106);
	color: rgb(250, 245, 234);
	font-size: 18px;

}

.button-title {

	width: 450px;
	height: auto;
	font-size: 20px;
	color: rgb(53, 95, 106);
	float: left;
	padding-left: 10px;
	padding-top: 5px;

}

.disable {
	background-color: maroon;
	color: black;
	pointer-events: none;

}

#title-line-special {
	width: 300px;
}

#title-line-special2 {
	width: 300px;
}

#section-title-special {
	width: 350px;
}

#title-row-special {
	width: 950px;
}

.button:hover {
	background-color: rgb(252, 116, 44);
	color: rgb(24, 53, 80);

}



.navbar-spacer {
	height: 125px;
	color: transparent;
}



.shop-container {
	width: 300px;
	height: auto;
}
.spacer-col {
	width: 50px;
	float: left;
	height: 400px;
}

#s1 {
	float: left;

}

#s2 {
	float: left;

}

#s3 {
	float: left;
}

.shop-small {
	display: none;
}

.shop-tab {
	display: none;
}



.shop-item {
	width: 400px;
	height: 400px;
	margin-top: 25px;
}

.item-picture {
	width: 300px;
	height: 300px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-color: rgb(24, 53, 80);
	border-width: 2px;
}

.item-desc {
	width: 80%;
	height: auto;
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	color: rgb(24, 53, 80);
}




.quantity {
	width: 50px;
	height: 25px;
	margin-left: 10px;
	font-size: 18px;
	background-color: white;
	border: solid;
	border-width: 2px;
	border-color: rgb(24, 53, 80);
	text-align: center;
	line-height: 25px;
	vertical-align: middle;

}



#add {
	margin-left: auto;
	margin-right: auto;
}



#hR {
	background-color: red;
}

#hB {
	background-color: blue;
}

#hG {
	background-color: green;
}

#bR {
	background-color: red;
}

#bB {
	background-color: blue;
}

#bG {
	background-color: green;
}


/*Cart*/



.cart-list {
	width: 80%;
	height: auto;
	background-color: #F0EAD6;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}





.cart-item {
	width: 100%;
	height: auto;
	border-top: solid;

	border-color: black;
	border-width: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.cart-row {
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;

}


.cart-title {
	width: 50%;
	height: auto;
	font-size: 30px;
	float: left;
}

.cart-price {
	width: 50%;
	height: auto;
	font-size: 30px;
	float: left;
	text-align: right;

}

.cart-col {
	width: 50%;
	height: auto;
	float: left;
	padding-top: 20px;
}

sup {
	font-size: 15px;
	padding-left: 5px;
}

.tiny {
	font-size: 15px;
	width: 200px;
	float: right;
}



.cart-label {
	width: 50%;
	height: auto;
	font-size: 20px;
	float: left;
	text-align: center;
}

.cart-info {
	width: 50%;
	height: auto;
	font-size: 20px;
	float: left;
	text-align: right;
}

.display-bat {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	height: auto;
}

.bat-image {
	width: 100px;
	height: 485px;
	background-color: white;
	border: solid;
	border-color: rgb(24, 53, 80);
	border-width: 2px;
	margin-left: auto;
	margin-right: auto;
}

.bat-general {
	width: 550px;

	color: rgb(24, 53, 80);
	font-family: secondFont;
	padding-top: 10px;
	padding-bottom: 10px;
}

#cb {
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

.col-inner {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.bat-title {
	font-size: 40px;
	float: left;
	color: rgb(24, 53, 80);
}

.bat-price {
	font-size: 40px;
	color: rgb(24, 53, 80);
}

.bat-desc {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 18px;
}

.details-title {
	font-size: 30px;
	color: rgb(252, 116, 44);
}

.details-list {

	margin-top: 0;
	padding-left: 0;
}

#row-spec {
	margin-top: 0;
}

.details-list li {
	list-style: none;
}

.details-text {
	width: auto;
	height: 75px;
	padding-top: 10px;
	font-family: secondFont;
	font-size: 13px;


}

.details-container {
	width: 600px;
	height: 60px;
	display: inline-block;

}


.details-list-items {
	float: left;
	cursor: pointer;
	height: 40px;
	width: 75px;
	border: solid;
	border-color: transparent;
	border-width: 2px;
	border-radius: 15px;
	list-style: none;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	margin: 10px;
	background-color: rgb(53, 95, 106);
	color: rgb(250, 245, 234);
	font-size: 22px;
	transition:	border-color 0.5s linear,
				background-color 0.5s linear,
				color 0.5s linear;

}

.details-list-items:hover {
	background-color: rgb(252, 116, 44);
	color: rgb(24, 53, 80);
	border-color: transparent;

}


#customize-sec {
	height: 800px;
	background-color: rgb(250, 245, 234);
}

.customize-bat {
	height: 2000px;
	width: 100%;
	display: none;
	background-color: rgb(250, 245, 234);
}

.customize-inner {
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;

}

.customize-image {

	height: 100px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	border: solid;
	border-color: rgb(24, 53, 80);
	border-width: 2px;
	overflow: hidden;
}

.logo-image {
	height: 100px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;

}

.customize-image-left {
	width: 450px;
	height: 100px;
	float: left;
	background-image: url("assets/proHandles/prohunfin.png");

}
.customize-image-right {
	width: 450px;
	height: 100px;
	float: left;
	background-image: url("assets/proBarrels/prounfinwhite.png");
}
/*.color-title {
	width: auto;
	height: auto;
	font-size: 15px;
	text-align: center;
}*/

#optional-title {
	padding-top: 10px;

}

.cart-col3 {
	width: 33.33%;
	height: auto;
	float: left;
	padding-top: 20px;
}

.color-title {
	font-size: 20px;
	text-align: left;
	width: 100%;
	text-indent: 10px;
	padding-bottom: 10px;
	color: rgb(24, 53, 80);
}
.color-titleO {
	text-indent: none;
	font-size: 20px;
	text-align: left;
	width: 100%;
	color: rgb(24, 53, 80);
}

.color-cont {
	width: auto;
	height: auto;
}

.color {
	width: 50px;
	height: 50px;
	background-color: white;
	border: solid;
	border-width: 2px;
	border-color: rgb(24, 53, 80);
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	font-size: 18px;
	cursor: pointer;
}
.colorL {
	font-size: 16px;
	width: 50px;
	height: 50px;
	background-color: white;
	border: solid;
	border-width: 2px;
	border-color: rgb(24, 53, 80);
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	cursor: pointer;

}

.colorX {
	font-size: 18px;
	width: 125px;
	height: 50px;
	background-color: white;
	border: solid;
	border-width: 2px;
	border-color: rgb(24, 53, 80);
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	cursor: pointer;
}
.colorY {
	font-size: 18px;
	width: 250px;
	height: 50px;
	background-color: white;
	border: solid;
	border-width: 2px;
	border-color: rgb(24, 53, 80);
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	cursor: pointer;
}

.custom-time {
	color: rgb(250, 245, 234);
	background-color: rgb(24, 53, 80);
	width: 300px;
	height: auto;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	text-align: center;
}
.engraving {
	font-size: 18px;
	width: 500px;
	height: 50px;
	background-color: white;
	border: solid;
	border-width: 2px;
	border-color: rgb(24, 53, 80);
	float: left;
	margin-right: 10px;
	margin-left: 10px;

	line-height: 50px;
	vertical-align: middle;

}

.ack-check {
	height: 25px;
	width: 25px;
	background-color: white;
	border-width: 2px;
	border: solid;
	border-color: rgb(24, 53, 80);
	float: left;
	margin-left: 10px;
}

.ack-checked {
	display: none;
	height: 25px;
	width: 25px;
	background-color: rgb(252, 116, 44);

}
.check-title {
	width: auto;
	height: 31px;
	line-height: 31px;
	vertical-align: center;
	text-indent: 10px;
	color: rgb(252, 116, 44);
	font-size: 20px;
}

.options-cont {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}


.accm {
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: rgb(24, 53, 80);
	display: none;
}


.model-select {
	background-color: rgb(252, 116, 44);
	color: rgb(24, 53, 80);

}

.map {
	border: solid;
	border-width: 2px;
	border-color: rgb(252, 116, 44);
}

.col-inner {
	width: 600px;
	height: 300px;
}

#col-inner-contact {
	margin-left: 15px;
}

.contact-info {
	color: rgb(24, 53, 80);
	font-size: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 400px;
}

.contact-p {
	color: black;
	font-family: secondFont;
	width: 300px;
}

.about-title {
	font-size: 35px;
	color: rgb(24, 53, 80);
	text-align: center;

}

.about-body {
	font-family: secondFont;
	font-size: 18px;
	text-align: center;


}

.about-sub {
	color: rgb(252, 116, 44);
	font-size: 30px;
	font-family: mainFont;
	text-align: center;
	height: 30px;
}

.star {
	height: 30px;
	width: 100%;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(53, 95, 106);
}

#bottom-sub {
	font-size: 35px;
}

.slide-menu {
	display: none;
}

#desktop-contact {
	display: block;
}

#desktop-about {
	display: block;
}

#mobile-about {
	display: none;
}

#mobile-contact {
	display: none;
}

#desktop-shop {
	display: block;
}


#mobile-shop {
	display: none;
}




#optional-row {
	border: solid;
	border-width: 2px;
	border-color: rgb(24, 53, 80);
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
}



#staff-title {
	font-size: 23px;
}



.staff-container{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: auto;
}

.staff-image-top {
	width: 200px;
	height: 275px;
	background-color: black;

	margin-right: 50px;
	margin-left: 50px;
}
.staff-inner-top {
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	height: auto;
}

.staffer-top {
	width: 300px;
	height: 350px;
	float: left;
	color: rgb(53, 95, 106);

}
.staff-title-top {
	width: 300px;
	text-align: center;
	font-size: 25px;

}
.staff-caption-top {
	width: 300px;
	text-align: center;
	font-size: 18px;
}


.staff-inner-bottom {
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	height: auto;
}

.staffer-bottom {
	width: 280px;
	height: 350px;
	float: left;
	color: rgb(53, 95, 106);

}
.staff-title-bottom {
	width: 280px;
	text-align: center;
	font-size: 25px;

}
.staff-caption-bottom {
	width: 280px;
	text-align: center;
	font-size: 18px;
}
.staff-image-bottom {
	width: 200px;
	height: 250px;
	background-color: black;
	float: left;
	margin-right: 40px;
	margin-left: 40px;
}
.staff-inner-bottom {
	margin-right: auto;
	margin-left: auto;
	width: 840px;
	height: 400px;
}

#dan {
	background-image: url("assets/dan.png");
}
#todd {
	background-image: url("assets/todd.png");
}
#carly {
	background-image: url("assets/carly.png");
}
#craig {
	background-image: url("assets/craig.png");
}
#pam {
	background-image: url("assets/pam.png");
}

#desktop-custom {
	display: block;
}

#mobile-custom {
	display: none;
}





.news-title {
	color: rgb(252, 116, 44);
	font-size: 30px;
}

.news-sub {
	color: rgb(53, 95, 106);
	font-size: 25px;
	margin-top: 20px;
}



#mobile-news {
	display: none;
}

#desktop-news {
	display: block;
}

.sweet-sound {
	font-size: 35px;
	text-align: center;
	width: 100%;
	color: rgb(53, 95, 106);
	margin-top: 20px;
}
#addCart {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

.mail-to {
	text-decoration: none;
	font-weight: bold;
	color: rgb(252, 116, 44);
}

#brush-option {
	font-family: brushFont;
}

.customize-model {
	width: 900px;
	font-size: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	color: rgb(53, 95, 106);
}

.wood-prices {
	width: auto;
	height: auto;
	font-family: mainFont;
	font-size: 25px;
	font-weight: bold;
	color: rgb(53, 95, 106);
	padding-right: 20px;

}

.promo-contact {
	font-family: mainFont;
	font-size: 20px;
	font-weight: bold;
}

.img-bat {

	width: 300px;
	height: 300px;
}

#acc {
	background: url(assets/tshirt.png);
	background-size: 300px 300px;
}

.desktop-bat-img {
	background-size: 100px 485px;
}

option {

}

#MAPLE {
	background-image: url("assets/maple.jpg");
}
#ASH {
	background-image: url("assets/ash.jpg");
}
#BIRCH {
	background-image: url("assets/birch.jpg");
}
#bc1 {
	background-image: url("assets/maple.jpg");
}
#bc2 {
	background-image: url("assets/birch.jpg");
}
#bc3 {
	background-color: rgb(35, 38, 45);
	color: rgb(250, 245, 234);
}
#bc4 {
	background-image: url("assets/gray.jpg");
}
#bc5 {
	background-color: rgb(77, 42, 44);
	color: rgb(250, 245, 234);
}
#hc1 {
	background-image: url("assets/maple.jpg");
}
#hc2 {
	background-image: url("assets/birch.jpg");
}
#hc3 {
	background-color: rgb(35, 38, 45);
}
#hc4 {
	background-image: url("assets/gray.jpg");
}
#hc5 {
	background-color: rgb(77, 42, 44);
	color: rgb(250, 245, 234);
}
#brc1 {
	background-image: url("assets/maple.jpg");
}
#brc2 {
	background-image: url("assets/birch.jpg");
}
#brc3 {
	background-color: rgb(35, 38, 45);
}
#brc4 {
	background-image: url("assets/gray.jpg");
}
#brc5 {
	background-color: rgb(77, 42, 44);
	color: rgb(250, 245, 234);
}
#lc1 {
	background-color: rgb(35, 38, 45);
	color: rgb(250, 245, 234);
	margin-bottom: 5px;
	margin-top: 5px;
}
#lc2 {
	background-color: rgb(181, 190, 179);
	margin-bottom: 5px;
	margin-top: 5px;
}
#lc3 {
	background-color: rgb(199, 167, 88);
	margin-bottom: 5px;
	margin-top: 5px;
}
#lc4 {
	background-color: white;
	color: black
	margin-bottom: 5px;
	margin-top: 5px;
}

#fc1{
	background-color: rgb(35, 38, 45);
	color: rgb(250, 245, 234);
}
#fc2{
	background-color: rgba(0, 0, 0, 0.7);
	color: rgb(250, 245, 234);
}

.custom-time-inner {
	padding: 5px;
}

.online-soon {
	text-align: center;
	color: rgb(24, 53, 80);
	font-size: 25px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.shop-box {
	width: 860px;
	height: 800px;
	background-image: url("assets/fiveshop.png");
	margin-left: auto;
	margin-right: auto;

}

.select-area {
	height: 800px;
	width: 165px;
	float: left;
}

.cart-spec {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 1500px;
}

.col-spec {
	width: 25%;
}


.section-title-staff {

	font-size: 30px;
	color: rgb(24, 53, 80);
	width: 300px;
	text-align: center;
	float: left;
	margin-right: 40px;
	margin-left: 40px;

	}

.title-line-staff {
	height: 2px;
	width: 210px;
	background-color: rgb(24, 53, 80);
	float: left;
	margin-top: 25px;
}

.title-row-staff {

	width: 100%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;

	overflow: hidden;


}
.staff-title-inner {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.side-cart {

	position: fixed;
	right: 0;
	z-index: 998;
	height: 100%;
	width: 0;
	max-width: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: rgb(250, 245, 234);
}

.cart-top {
	width: 100%;
	height: 10%;
	overflow: hidden;
}

.cart-top-text {
	font-size: 20px;
	vertical-align: middle;
	text-indent: 15px;
	width: 70%;
	float: left;
	margin-top: 20px;
	font-family: secondFont;

}

.cart-top-close {
	font-size: 25px;
	vertical-align: middle;
	text-indent: 15px;
	width: 30%;
	float: left;
	text-align: center;
	margin-top: 20px;
	color: rgb(153, 153, 153);
	cursor: pointer;

}
.cart-top-remove {
	font-size: 20px;
	vertical-align: middle;
	text-indent: 15px;
	width: 30%;
	float: left;
	text-align: center;
	margin-top: 20px;
	color: red;
	cursor: pointer;
	display: none;

}

.cart-mid {
	width: 100%;
	height: 65%;
}

.cart-bot {
	width: 100%;
	height: 25%;
	border-top: solid;
	border-color: rgb(229, 229, 229);
	border-width: 2px;
}

.supCart {
	font-size: 12px;
	margin-left: 10px;
}



.cart-bot-text {
	width: 100%;
	height: 20px;
	font-family: secondFont;
	vertical-align: middle;
	margin-top: 20px;
	font-size: 15px;
	margin-bottom: 5px;
	overflow: hidden;

}

.cart-bot-total{
	width: 70%;
	height: 15px;
	float: left;
	text-indent: 10px;
}
.cart-bot-amt{
	width: 25%;
	height: 15px;
	float: left;
	text-align: right;
	margin-right: 10px;
}


.cart-bot-checkout {
	width: 100%;
	height: 60%;
}

.check-button {
	background-color: rgb(24, 53, 80);
}

#cart-button {
	background-color: rgb(24, 53, 80);

	width: 90%;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-width: 3px;
	border-radius: 8px;
	border-color: transparent;
	text-align: center;
	font-size: 22px;
	line-height: 35px;
	vertical-align: middle;
	color: rgb(250, 245, 234);
	cursor: pointer;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;



}
#continue-shop {

		background-color: rgb(24, 53, 80);
		width: 90%;
		height: 35px;
		margin-left: auto;
		margin-right: auto;
		border: solid;
		border-width: 3px;
		border-radius: 8px;
		border-color: transparent;
		text-align: center;
		font-size: 22px;
		line-height: 35px;
		vertical-align: middle;
		color: rgb(250, 245, 234);
		cursor: pointer;
		-webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;


}

.check-a {
	text-decoration: none;
}


.remove-button {
	background-color: red;
}

.cart-prod {
	width: 100%;
	height: 115px;
	border-bottom: solid;
	border-width: 1px;
	border-color: rgb(229, 229, 229);
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.prod-active {
	background-color: rgba(252, 116, 44, 0.5);
}

.prod-row {
	width: 100%;
	height: 50px;

}

.prod-col {
	width: 50%;
	height: 55px;
	float: left;
	font-family: secondFont;
	font-size: 10px;
	color: rgba(0, 0, 0, 0.5);
	text-indent: 35px;
}


.prod-title {
	width: 70%;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	float: left;
	font-size: 22px;
	text-indent: 15px;
}

.prod-quant {
	width: 20%;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	float: left;
	text-align: center;
	font-size: 22px;
}

#cart-check {
	height: 100%;

}


#cart-confirm {
	height: 100%;
}

.cart-ask-txt {
	width: 100%;
	height: 30%;
	text-align: center;
	font-size: 25px;
}

.ask-cont {
	height: 70%;
	width: 100%;
}

.ask-button {
	width: 80%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-color: transparent;
	border-radius: 8px;
	border-width: 2px;
	font-family: secondFont;
	font-size: 20px;
	color: rgb(250, 245, 234);
}

#yes-button {
	background-color: green;
	margin-bottom: 10px;
}

#no-button {
	background-color: red;
}

.bottom-popup {
	width: 100%;
	height: 0;
	background-color: rgba(255, 0, 0, 0.8);
	position: fixed;
	z-index: 1000;
	bottom: 0;
	font-size: 17px;
	font-family: secondFont;
	font-weight: bold;
}
.dismiss-popup {
	height: 75px;
	width: 50px;
	float: right;
	color: black;
	text-decoration: underline;
	font-size: 17px;
}

.cart-item-display {
	height: 100%;

}

.cart-email-display {
	height: 100%;
	display: none;
}

.prompt-cont {
	width: 100%;
	height: 400px;
	margin-top: 250px;
}

.prompt {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	text-align: center;
	font-family: secondFont;
}

.email-prompt {
	width: 300px;
	height: 25px;
	font-size: 20px;
	border: solid;
	border-radius: 5px;
	border-width: 2px;
	border-color: transparent;
}

.email-cont {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.finish-button {
	width: 175px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(24, 53, 80);
	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	color: rgb(250, 245, 234);
	font-size: 20px;
	margin-top: 15px;
	cursor: pointer;
}

.cart-bot p {
	width: 100%;
	height: auto;
	font-size: 15px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.staff-image-large {
	width: 900px;
	height: 400px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.staffText {
	font-size: 20px;
	text-align: center;
}

.news-cont {
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.newsImg-cont {
	width: 50%;
	height: 400px;
	float: left;
}

.newsBod-cont {
	width: 50%;
	height: 400px;

	float: left;
}

.newsImg {
	width: 70%;
	height: 100%;
	background-color: purple;
	margin-left: auto;
	margin-right: auto;

}

.newsBod {
	width: 100%;
	height: 100%;

	margin-left: auto;
	margin-right: auto;
}



/*
colors:

cream: rgb(250, 245, 234);
dark blue: rgb(24, 53, 80);
light blue: rgb(53, 95, 106);
orange: rgb(252, 116, 44);
*/





/*Phone*/
@media only screen and (max-width : 480px) {

.accm {
	display: block;
}
.section-titleB {
	padding-top: 10px;
	font-size: 20px;
	color: rgb(24, 53, 80);
	width: 250px;
	text-align: center;
	float: left;
	}

.title-lineB {
	height: 2px;
	width: 25px;
	background-color: rgb(24, 53, 80);
	float: left;
	margin-top: 20px;
}

.title-rowB {
	padding-top: 20px;
	width: 300px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;


}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}
.navbar {
	height: 75px;
}

.navbar-icons {
	display: none;
}

.logo {
	width: 140px;
	height: 60px;
	background-size: 140px 60px;
	margin-left: 10px;
	margin-top: 10px;
}

.navbar-spacer {
	height: 75px;
	color: transparent;
}

.navbar-items {
	display: none;
}

.navbar-icons {
	display: none;
}

.ham-contain {
	width: 90px;
	height: 75px;
	float: right;
	display: inline-block;
}

.hamburger {

	width: 50px;
	height: 75px;

	float: left;

}

#desk-cart {
	display: none;
}

.hamburger-line {
	width: 40px;
	height: 6px;
	background-color: rgb(250, 245, 234);
}

#ham1 {
	margin-top: 23px;
	margin-bottom: 7px;
}

#ham2 {
	margin-top: 7px;
	margin-bottom: 7px;
}

#ham3 {
	margin-top: 7px;
	margin-bottom: 20px;

}

.img-top {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-image: url("assets/baseball.jpg");
}

.spacer {
	height: 50px;
	font-size: 18px;
	line-height: 20px;
	vertical-align: none;
}

.title-row {
	width: 250px;
	height: 30px;
	padding-top: 10px;
}

.title-line {
	width: 75px;
	margin-top: 10px;
}

.section-title {
	width: 100px;
	font-size: 20px;
	padding-top: 0;
}

#desktop-shop {
	display: none;
}

#mobile-shop {
	display: block;
	width: 100%;
	height: auto;
}

.mobile-item {
	width: 300px;
	height: 50px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;


}

.mobile-item-title {
	width: 80%;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	float: left;
	text-align: left;
	font-size: 20px;
	color: rgb(24, 53, 80);
}

.mobile-item-selector {
	width: 20%;
	height: 50px;
	font-size: 40px;
	float: left;
	line-height: 55px;
	vertical-align: middle;
	text-align: center;
	color: rgb(252, 116, 44);
}

#gc {

}


.star {
	font-size: 25px;
}
.about-sub {
	font-size: 18px;
	font-family: mainFont;
	padding-bottom: 10px;
}
.about-body {
	font-size: 15px;
}

.about-title {
	font-size: 20px;
	text-align: center;
}

#desktop-contact {
	display: none;
}

#mobile-contact {
	display: block;
}

.contact-p {
	font-size: 15px;
	width: 200px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.contact-info {
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	font-size: 15px;
	margin-top: 20px;
}

#desktop-about {
	display: none;
}

#mobile-about {
	display: block;
	width: 300px;
	margin-right: auto;
	margin-left: auto;

}


.about-title {
	font-size: 18px;
	font-weight: bold;
}

.slide-menu {
	height: 250px;
	width: 100%;
	background-color: rgb(250, 245, 234);
	position: fixed;
	display: none;
	border-width: 3px;
	border-bottom: solid;
	border-left: solid;
	border-right: solid;
	border-color: rgb(24, 53, 80);
}

.slide-option {
	width: 100%;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	color: rgb(24, 53, 80);
	cursor: pointer;
}



.cart {
	width: 32px;
	height: 32px;
	margin-top: 23px;
	margin-right: 5px;


}

.cart-icon {
	width: 32px;
	height: 32px;

	background-size: 32px 32px;
	background-image: url("assets/cart.png");
}

.map {
	width: 250px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#staff-title {
	font-size: 15px;
}



.staff-image {
	width: 100px;
	height: 150px;
	border: solid;
	border-width: 1px;
	border-color: rgb(24, 53, 80);
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}

.staff-name {
	width: 100px;
	height: auto;
	text-align: center;
	color: rgb(24, 53, 80);
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
}

.staff-caption {
	width: 100px;
	height: auto;
	text-align: center;
	color: rgb(53, 95, 106);
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}

#desktop-custom {
	display: none;
}

#mobile-custom {
	display: block;
}

.bat-image {
	width: 125px;
	height: 175px;
	background-image: url("assets/turf.png");
	border: solid;
	border-color: rgb(24, 53, 80);
	border-width: 2px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	transition:
				background-color 0.5s linear,
				color 0.5s linear;
	width: 150px;
	height: 30px;
	border-width: 1px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	pointer-events: auto;
	cursor: pointer;
	border: solid;
	border-color: transparent;
	border-width: 2px;
	border-radius: 15px;
	background-color: rgb(53, 95, 106);
	color: rgb(250, 245, 234);
	font-size: 18px;

}

#cb {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}


#cb-mobile {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

a {
	text-decoration: none;
}

#addCart-mobile {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}


.bat-title {
	font-size: 17px;
	float: left;
}

.bat-price {
	font-size: 17px;
}

.details-title {
	font-size: 18px;
	margin-top: 5px;
}

.details-list {

	margin-top: 0;
	padding-left: 0;
}

.details-list li {
	list-style: none;
}



.details-list-items {
	float: left;
	cursor: pointer;
	height: 20px;
	width: 35px;
	border: solid;
	border-color: transparent;
	border-width: 2px;
	border-radius: 15px;
	list-style: none;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	margin: 10px;
	background-color: rgb(53, 95, 106);
	color: rgb(250, 245, 234);
	font-size: 22px;
	transition:	border-color 0.5s linear,
				background-color 0.5s linear,
				color 0.5s linear;

}

.models-select {
	width: 90%;
	height: 25px;
	background-color: white;
	font-family: mainFont;
	font-size: 18px;
	border: solid;
	border-color: rgb(53, 95, 106);
	border-width: 1px;
}

.details-body {
	width: 90%;
	height: auto;
	font-size: 12px;
	font-family: secondFont;
	margin-top: 5px;
}

#customize-sec {
	height: 500px;
	background-color: rgb(250, 245, 234);
}

#custom-title {
	font-size: 15px;
}

.custom-line {
	margin-top: 7px;
}
.customize-image {
	width: 300px;
	height: 40px;
	background-size: contain;
	border: solid;
	border-color: rgb(24, 53, 80);
	border-width: 2px;
	margin-left: auto;
	margin-right: auto;
}

.color-select {
	width: 200px;
	height: 30px;
	border: solid;
	border-color: rgb(24, 53, 80);
	border-width: 1px;
	font-size: 18px;
}
.color-title {
	font-size: 20px;
	text-align: left;
	width: 100%;
	text-indent: 0;
	padding-bottom: 10px;
	color: rgb(24, 53, 80);
}

.optional-box {
	border: solid;
	border-color: rgb(24, 53, 80);
	border-width: 1px;
	background-color: white;
}

.optional-box-inner {
	padding: 5px;
}

.engraving {
	font-size: 12px;
	width: 200px;
	height: 25px;
	background-color: white;
	border: solid;
	border-width: 2px;
	border-color: rgb(24, 53, 80);
	float: left;
	margin-right: 0;
	margin-left: 0;

	line-height: 20px;
	vertical-align: middle;

}

.custom-time {
	color: rgb(250, 245, 234);
	background-color: rgb(24, 53, 80);
	width: 200px;
	height: auto;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 15px;
	text-align: center;
}

.check-title {
	width: auto;
	height: auto;
	line-height: 31px;
	vertical-align: center;
	text-indent: 10px;
	color: rgb(252, 116, 44);
	font-size: 15px;
}

.button-title {

	width: 250px;
	height: auto;
	font-size: 15px;
	color: rgb(53, 95, 106);
	float: left;
	padding-left: 0;
	padding-top: 0;

}

.disable {
	background-color: maroon;
	color: black;
	pointer-events: none;

}

.option-select {
	color: rgb(24, 53, 80);
	background-color: white;
}

.styled-select select {
   background: transparent;
   width: 250px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   color: rgb(24, 53, 80);
}

 .styled-select {
   width: 200px;
   height: 34px;
   overflow: hidden;
   background: url(assets/arrow.png) no-repeat right;
   border: 2px solid rgb(24, 53, 80);
}

.gothic-option {
	font-family: mainFont;
}

#brush-option {
	font-family: brushFont;
}





.news-title {
	color: rgb(252, 116, 44);
	font-size: 20px;
	text-align: center;
}

.news-sub {
	color: rgb(53, 95, 106);
	font-size: 15px;
	margin-top: 20px;
}



.news-cont {
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}

#mobile-news {
	display: block;
}

#desktop-news {
	display: none;
}

.customize-model {
	width: 300px;
	font-size: 17px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	color: rgb(53, 95, 106);
}

.bat-general {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	color: rgb(24, 53, 80);
	font-family: secondFont;
	padding-top: 0;
	font-size: 12px;
}

.bat-image-m {
	height: 175px;
	width: 37px;

	margin-left: 45px;
}

.online-soon {
	font-size: 20px;
}

.news-cont {
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.newsImg-cont {
	width: 100%;
	height: 175px;

}

.newsBod-cont {
	width: 100%;
	height: 400px;


}

.newsImg {
	width: 70%;
	height: 100%;
	background-color: purple;
	margin-left: auto;
	margin-right: auto;

}

.newsBod {
	width: 100%;
	height: 100%;

	margin-left: auto;
	margin-right: auto;
}

.popup-text {
	font-size: 15px;
}
.bottom-popup{
	height: 0;
}





}



/*Tablet */
@media only screen and (min-width : 481px) and (max-width : 1024px) {

.accm {
	display: block;
}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}
.navbar {
	height: 75px;
}

.navbar-icons {
	display: none;
}

.logo {
	width: 140px;
	height: 60px;
	background-size: 140px 60px;
	margin-left: 10px;
	margin-top: 10px;
}

.navbar-spacer {
	height: 75px;
	color: transparent;
}

.navbar-items {
	display: none;
}

.navbar-icons {
	display: none;
}

.ham-contain {
	width: 90px;
	height: 75px;
	float: right;
	display: inline-block;
}

.hamburger {

	width: 50px;
	height: 75px;

	float: left;

}

#desk-cart {
	display: none;
}

.hamburger-line {
	width: 40px;
	height: 6px;
	background-color: rgb(250, 245, 234);
}

#ham1 {
	margin-top: 23px;
	margin-bottom: 7px;
}

#ham2 {
	margin-top: 7px;
	margin-bottom: 7px;
}

#ham3 {
	margin-top: 7px;
	margin-bottom: 20px;

}

.img-top {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-image: url("assets/baseball.jpg");
}

.spacer {
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	vertical-align: middle;
}

.title-row {
	width: 300px;
	height: 30px;
	padding-top: 10px;
}

.title-line {
	width: 100px;
	margin-top: 10px;
}

.section-title {
	width: 100px;
	font-size: 20px;
	padding-top: 0;
}

#desktop-shop {
	display: none;
}

#mobile-shop {
	display: block;
	width: 100%;
	height: auto;
}

.mobile-item {
	width: 400px;
	height: 50px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;


}

.mobile-item-title {
	width: 80%;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	float: left;
	text-align: center;
	font-size: 25px;
	color: rgb(24, 53, 80);
}

.mobile-item-selector {
	width: 20%;
	height: 50px;
	font-size: 40px;
	float: left;
	line-height: 55px;
	vertical-align: middle;
	text-align: center;
	color: rgb(252, 116, 44);
}

#gc {

}


.star {
	font-size: 25px;
}
.about-sub {
	font-size: 18px;
	font-family: mainFont;
	padding-bottom: 10px;
}
.about-body {
	font-size: 15px;
}

.about-title {
	font-size: 20px;
	text-align: center;
}

#desktop-contact {
	display: none;
}

#mobile-contact {
	display: block;
}

.contact-p {
	font-size: 15px;
}

.contact-info {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	font-size: 15px;
	margin-top: 20px;
}

#desktop-about {
	display: none;
}

#mobile-about {
	display: block;
	width: 400px;
	margin-right: auto;
	margin-left: auto;

}


.about-title {
	font-size: 18px;
	font-weight: bold;
}

.slide-menu {
	height: 250px;
	width: 100%;
	background-color: rgb(250, 245, 234);
	position: fixed;
	display: none;
	border-width: 3px;
	border-bottom: solid;
	border-left: solid;
	border-right: solid;
	border-color: rgb(24, 53, 80);
}

.slide-option {
	width: 100%;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	color: rgb(24, 53, 80);
	cursor: pointer;
}



.cart {
	width: 32px;
	height: 32px;
	margin-top: 23px;
	margin-right: 5px;


}

.cart-icon {
	width: 32px;
	height: 32px;

	background-size: 32px 32px;
	background-image: url("assets/cart.png");
}

.map {
	width: 250px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#staff-title {
	font-size: 15px;
}



.staff-image {
	width: 100px;
	height: 150px;
	border: solid;
	border-width: 1px;
	border-color: rgb(24, 53, 80);
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}

.staff-name {
	width: 100px;
	height: auto;
	text-align: center;
	color: rgb(24, 53, 80);
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
}

.staff-caption {
	width: 100px;
	height: auto;
	text-align: center;
	color: rgb(53, 95, 106);
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}

#desktop-custom {
	display: none;
}

#mobile-custom {
	display: block;
}

.bat-image {
	width: 125px;
	height: 175px;
	background-image: url("assets/turf.png");
	border: solid;
	border-color: rgb(24, 53, 80);
	border-width: 2px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	transition:
				background-color 0.5s linear,
				color 0.5s linear;
	width: 150px;
	height: 30px;
	border-width: 1px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	pointer-events: auto;
	cursor: pointer;
	border: solid;
	border-color: transparent;
	border-width: 2px;
	border-radius: 15px;
	background-color: rgb(53, 95, 106);
	color: rgb(250, 245, 234);
	font-size: 18px;

}

#cb {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}


#cb-mobile {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

a {
	text-decoration: none;
}

#addCart-mobile {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}


.bat-title {
	font-size: 17px;
	float: left;
}

.bat-price {
	font-size: 17px;
}

.details-title {
	font-size: 18px;
	margin-top: 5px;
}

.details-list {

	margin-top: 0;
	padding-left: 0;
}

.details-list li {
	list-style: none;
}



.details-list-items {
	float: left;
	cursor: pointer;
	height: 20px;
	width: 35px;
	border: solid;
	border-color: transparent;
	border-width: 2px;
	border-radius: 15px;
	list-style: none;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	margin: 10px;
	background-color: rgb(53, 95, 106);
	color: rgb(250, 245, 234);
	font-size: 22px;
	transition:	border-color 0.5s linear,
				background-color 0.5s linear,
				color 0.5s linear;

}

.models-select {
	width: 90%;
	height: 25px;
	background-color: white;
	font-family: mainFont;
	font-size: 18px;
	border: solid;
	border-color: rgb(53, 95, 106);
	border-width: 1px;
}

.details-body {
	width: 90%;
	height: auto;
	font-size: 12px;
	font-family: secondFont;
	margin-top: 5px;
}

#customize-sec {
	height: 500px;
	background-color: rgb(250, 245, 234);
}

#custom-title {
	font-size: 15px;
}

.custom-line {
	margin-top: 7px;
}
.customize-image {
	width: 500px;
	height: 60px;
	background-size: contain;
	background-repeat: no-repeat;
	border: solid;
	border-color: rgb(24, 53, 80);
	border-width: 2px;
	margin-left: auto;
	margin-right: auto;
}

.color-select {
	width: 200px;
	height: 30px;
	border: solid;
	border-color: rgb(24, 53, 80);
	border-width: 1px;
	font-size: 18px;
}
.color-title {
	font-size: 20px;
	text-align: left;
	width: 100%;
	text-indent: 0;
	padding-bottom: 10px;
	color: rgb(24, 53, 80);
}

.optional-box {
	border: solid;
	border-color: rgb(24, 53, 80);
	border-width: 1px;
	background-color: white;
}

.optional-box-inner {
	padding: 5px;
}

.engraving {
	font-size: 12px;
	width: 200px;
	height: 25px;
	background-color: white;
	border: solid;
	border-width: 2px;
	border-color: rgb(24, 53, 80);
	float: left;
	margin-right: 0;
	margin-left: 0;

	line-height: 20px;
	vertical-align: middle;

}

.custom-time {
	color: rgb(250, 245, 234);
	background-color: rgb(24, 53, 80);
	width: 200px;
	height: auto;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 15px;
	text-align: center;
}

.check-title {
	width: auto;
	height: auto;
	line-height: 31px;
	vertical-align: center;
	text-indent: 10px;
	color: rgb(252, 116, 44);
	font-size: 15px;
}

.button-title {

	width: 250px;
	height: auto;
	font-size: 15px;
	color: rgb(53, 95, 106);
	float: left;
	padding-left: 0;
	padding-top: 0;

}

.disable {
	background-color: maroon;
	color: black;
	pointer-events: none;

}

.option-select {
	color: rgb(24, 53, 80);
	background-color: white;
}

.styled-select select {
   background: transparent;
   width: 250px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   color: rgb(24, 53, 80);
}

 .styled-select {
   width: 200px;
   height: 34px;
   overflow: hidden;
   background: url(assets/arrow.png) no-repeat right;
   border: 2px solid rgb(24, 53, 80);
}

.gothic-option {
	font-family: mainFont;
}

#brush-option {
	font-family: brushFont;
}




.news-title {
	color: rgb(252, 116, 44);
	font-size: 25px;
	text-align: center;
}

.news-sub {
	color: rgb(53, 95, 106);
	font-size: 20px;
	margin-top: 20px;
}



.news-cont {
	width: 350px;
	margin-right: auto;
	margin-left: auto;
}

#mobile-news {
	display: block;
}

#desktop-news {
	display: none;
}

.customize-model {
	width: 400px;
	font-size: 17px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	color: rgb(53, 95, 106);
}

.bat-general {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	color: rgb(24, 53, 80);
	font-family: secondFont;
	padding-top: 0;
	font-size: 12px;
}

.bat-image-m {
	height: 175px;
	width: 37px;

	margin-left: 45px;
}

.online-soon {
	font-size: 20px;
}

.news-cont {
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.newsImg-cont {
	width: 100%;
	height: 175px;

}

.newsBod-cont {
	width: 100%;
	height: 400px;


}

.newsImg {
	width: 70%;
	height: 100%;
	background-color: purple;
	margin-left: auto;
	margin-right: auto;

}

.newsBod {
	width: 100%;
	height: 100%;

	margin-left: auto;
	margin-right: auto;
}




}

@font-face {
	font-family: mainFont;
	src: url('BankGothicLight.ttf');
}
@font-face {
	font-family: secondFont;
	src: url('Verdana.ttf');
}
@font-face {
	font-family: brushFont;
	src: url('BrushScript.otf');
}
